* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

/* =================== HEADER ==================== */

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}

header {
  height: 100vh;
  background-image: linear-gradient(
      120deg,
      rgba(161, 196, 253, 0.404) 0%,
      rgba(194, 233, 251, 0.404) 100%
    ),
    url(https://images.unsplash.com/photo-1557215121-f6da31003be7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.hamburguer {
  position: fixed;
  top: 30px;
  right: 30px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.menu-navegacion {
  position: fixed;
  font-size: 25px;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100%;
  background-image: linear-gradient(
    to top,
    rgb(55, 236, 185) 0%,
    rgb(114, 175, 211) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  transform: translate(110%);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.spread {
  transform: translate(0);
}
.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.titulo {
  font-size: 60px;
  text-align: center;
}

/* ============= CARDS ============== */

.contenedor .subtitulo {
  text-align: center;
}

.card__box {
  display: flex;
  position: relative;
  width: 90%;
  max-width: 1100px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 110px;
  padding-top: 60px;
}

.card__box .card {
  position: relative;
  max-width: 400px;
  height: 245px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card__box .card:hover {
  height: 480px;
}

.card__box .card .imgCard {
  position: relative;
  width: 360px;
  height: 250px;
  top: -60px;
  left: 3px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card__box .card .imgCard img {
  height: 270px;
  max-width: 100%;
  border-radius: 4px;
}

.card__box .card .content__card {
  position: relative;
  margin-top: -140px;
  padding: 10px 5px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card__box .card:hover .content__card {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.line__cards {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;

  background: rgba(202, 207, 210, 0.507);
  margin-bottom: 60px;
}

/* ============= COTIZADOR ============== */

.form-group {
  margin: 15px;
}
.btn {
  margin: 10px;
}
#tablaResultado {
  display: none;
}

/* ---------------- FOOTER ---------------- */

footer {
  background-image: linear-gradient(
    to top,
    rgb(72, 198, 239) 0%,
    rgb(111, 134, 214) 100%
  );
  padding-bottom: 0.1px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 40px;
}

.contacts-us {
  width: 40%;
  color: #fff;
}
.brand {
  font-weight: 500;
  font-size: 40px;
}

.brand + p {
  font-weight: 500;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background: #fff;
  color: #84fab0;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }
  .titulo {
    font-size: 40px;
  }
  .footer-content {
    justify-content: center;
  }
  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }
  .social-media-icon {
    margin-left: 0;
  }
  .social-media i {
    margin-left: 0;
  }
  .contacts-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40%;
  }
  .card__box {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .menu-navegacion {
    width: 65vw;
  }
  .hamburguer {
    top: 30px;
    right: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .social-media {
    width: 100%;
  }
  .contacts-us {
    width: 90%;
  }

  .contenedor .subtitulo {
    text-align: center;
  }

  .card__box {
    align-items: center;
    width: 500px;
    padding-left: 30px;
  }

  .card__box .card {
    width: 65%;
    max-width: 350px;
    height: 145px;
  }

  .card__box .card:hover {
    height: 370px;
  }

  .card__box .card .content__card {
    margin: 0px;
    text-align: start;
  }

  .card__box .card .imgCard {
    width: 260px;
    height: 150px;
  }
  .card__box .card .imgCard img {
    position: center;
    width: 260px;
    height: 150px;
  }
  .main__index .card h4 {
    font-size: 16px;
    margin-top: 50px;
  }

  .card__box .card .content__card p {
    font-size: 14px;
    margin-top: 15px;
  }
}
