* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}

/* =================== MAIN ==================== */

/* ============= CARDS ============== */

.card__box {
  display: flex;
  position: relative;
  width: 1100px;
  max-width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 110px;
  padding-top: 60px;
}

.content__card {
  text-align: left;
}

.card__box .card {
  position: relative;
  max-width: 400px;
  height: 245px;
  background-color: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.card__box .card:hover {
  height: 460px;
}

.card__box .card .imgCard {
  position: relative;
  width: 360px;
  height: 250px;
  top: -60px;
  left: 3px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.card__box .card .imgCard img {
  height: 270px;
  max-width: 100%;
  border-radius: 4px;
}

.card__box .card .content__card {
  position: relative;
  margin-top: -140px;
  padding: 10px 5px;
  color: #111;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card__box .card:hover .content__card {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* ============= COTIZADOR ============== */

.form-group {
  margin: 15px;
}
.btn {
  margin: 10px;
}
#tablaResultado {
  display: none;
}
